In [97]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

In [98]:
fear_greed = pd.read_csv('fear_greed_index.csv')
historical_data = pd.read_csv('historical_data.csv')

In [99]:
# Explore Fear & Greed Index
fear_greed.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [100]:
fear_greed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB

In [101]:
fear_greed['date'] = pd.to_datetime(fear_greed['date'])

In [102]:
fear_greed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 82.8+ KB

In [103]:
fear_greed.duplicated().any()

np.False_

In [104]:
fear_greed['classification'].value_counts()

classification
Fear             781
Greed            633
Extreme Fear     508
Neutral          396
Extreme Greed    326
Name: count, dtype: int64

In [105]:
# remove unnecessary columns 
fear_greed.drop(['timestamp' , 'value'] , axis=1 , inplace=True)

In [106]:
# Explore Historical Trader Data 
historical_data.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [107]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB

In [108]:
historical_data.isnull().any().sum()

np.int64(0)

In [109]:
# Drop unnecessary columns 
historical_data.drop(['Coin' , 'Direction' , 'Transaction Hash' , 'Order ID' , 'Trade ID' , 'Timestamp' , 'Crossed'] , axis=1 , inplace=True)

#### Important columns releated to Historical trader dataset

| Column            | Reason                                  |
| ----------------- | --------------------------------------- |
| `Account`         | To group by trader behavior             |
| `Execution Price` | To calculate trade values / trends      |
| `Size USD`        | Trade volume — critical                 |
| `Side`            | Buy/Sell behavior                       |
| `Timestamp IST`   | For date extraction and sentiment merge |
| `Closed PnL`      | For profitability analysis              |
| `Fee`             | To assess cost/risk of trades           |
| `Start Position`  | To analyze risk/exposure                |

In [110]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Account          211224 non-null  object
 1   Execution Price  211224 non-null  float64
 2   Size Tokens      211224 non-null  float64
 3   Size USD         211224 non-null  float64
 4   Side             211224 non-null  object
 5   Timestamp IST    211224 non-null  object
 6   Start Position   211224 non-null  float64
 7   Closed PnL       211224 non-null  float64
 8   Fee              211224 non-null  float64
dtypes: float64(6), object(3)
memory usage: 14.5+ MB

In [111]:
historical_data['date'] = historical_data['Timestamp IST'].str.split(" ").str[0]

# extract standardized date format
historical_data['date'] = pd.to_datetime(historical_data['date'] , format='mixed' , dayfirst=True , errors='coerce')
historical_data['date'] = historical_data['date'].dt.strftime('%Y-%m-%d')

historical_data['date'] = pd.to_datetime(historical_data['date'])

In [112]:
historical_data.drop('Timestamp IST' , axis=1 , inplace=True)

In [113]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Account          211224 non-null  object
 1   Execution Price  211224 non-null  float64
 2   Size Tokens      211224 non-null  float64
 3   Size USD         211224 non-null  float64
 4   Side             211224 non-null  object
 5   Start Position   211224 non-null  float64
 6   Closed PnL       211224 non-null  float64
 7   Fee              211224 non-null  float64
 8   date             211224 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 14.5+ MB

In [114]:
historical_data.duplicated().any().sum()

np.int64(0)

In [115]:
# Merge both datasets & save the dataset
merged_data = pd.merge(historical_data , fear_greed , on='date' , how='inner')
merged_data.head()

,Account,Execution Price,Size Tokens,Size USD,Side,Start Position,Closed PnL,Fee,date,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9769,986.87,7872.16,BUY,0.000000,0.0,0.345404,2024-12-02,Extreme Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9800,16.00,127.68,BUY,986.524596,0.0,0.005600,2024-12-02,Extreme Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9855,144.09,1150.63,BUY,1002.518996,0.0,0.050431,2024-12-02,Extreme Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9874,142.98,1142.04,BUY,1146.558564,0.0,0.050043,2024-12-02,Extreme Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9894,8.73,69.75,BUY,1289.488521,0.0,0.003055,2024-12-02,Extreme Greed

In [116]:
merged_data[merged_data['Execution Price']<0]

Empty DataFrame
Columns: [Account, Execution Price, Size Tokens, Size USD, Side, Start Position, Closed PnL, Fee, date, classification]
Index: []

In [117]:
merged_data[merged_data['Size Tokens']<0]

Empty DataFrame
Columns: [Account, Execution Price, Size Tokens, Size USD, Side, Start Position, Closed PnL, Fee, date, classification]
Index: []

In [118]:
merged_data[merged_data['Size USD']<0]

Empty DataFrame
Columns: [Account, Execution Price, Size Tokens, Size USD, Side, Start Position, Closed PnL, Fee, date, classification]
Index: []

| `Start Position` | Meaning                                            |
| ---------------- | -------------------------------------------------- |
| `= 0`            | No existing position before the trade (new entry)  |
| `> 0`            | Long position — trader was **holding** the asset   |
| `< 0`            | Short position — trader was **shorting** the asset |

In [119]:
merged_data[merged_data['Start Position']<0].shape

(73629, 10)

In [120]:
merged_data['classification'].value_counts()

classification
Fear             61837
Greed            50303
Extreme Greed    39992
Neutral          37686
Extreme Fear     21400
Name: count, dtype: int64

In [121]:
merged_data['classification'] = merged_data['classification'].replace(['Extreme Greed' , 'Extreme Fear'] , ['Greed' , 'Fear'])
merged_data['classification'].value_counts()

classification
Greed      90295
Fear       83237
Neutral    37686
Name: count, dtype: int64

In [122]:
merged_data['Side'].value_counts()

Side
SELL    108528
BUY     102690
Name: count, dtype: int64

In [123]:
# save the new merged dataset
merged_data.to_csv('csv_files/merged_data.csv' , index=False)

In [124]:
merged_data.head()

,Account,Execution Price,Size Tokens,Size USD,Side,Start Position,Closed PnL,Fee,date,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9769,986.87,7872.16,BUY,0.000000,0.0,0.345404,2024-12-02,Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9800,16.00,127.68,BUY,986.524596,0.0,0.005600,2024-12-02,Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9855,144.09,1150.63,BUY,1002.518996,0.0,0.050431,2024-12-02,Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9874,142.98,1142.04,BUY,1146.558564,0.0,0.050043,2024-12-02,Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,7.9894,8.73,69.75,BUY,1289.488521,0.0,0.003055,2024-12-02,Greed

In [125]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211218 entries, 0 to 211217
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Account          211218 non-null  object
 1   Execution Price  211218 non-null  float64
 2   Size Tokens      211218 non-null  float64
 3   Size USD         211218 non-null  float64
 4   Side             211218 non-null  object
 5   Start Position   211218 non-null  float64
 6   Closed PnL       211218 non-null  float64
 7   Fee              211218 non-null  float64
 8   date             211218 non-null  datetime64[ns]
 9   classification   211218 non-null  object
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 16.1+ MB

In [126]:
merged_data['date'].isna().sum()

np.int64(0)

In [127]:
# Perform EDA and Data visualization
merged_data.describe()

,Execution Price,Size Tokens,Size USD,Start Position,Closed PnL,Fee,date
count,211218.000000,2.112180e+05,2.112180e+05,2.112180e+05,211218.000000,211218.000000,211218
mean,11415.047529,4.623341e+03,5.639192e+03,-2.994671e+04,48.549304,1.163960,2025-01-30 23:58:26.735221248
min,0.000005,8.740000e-07,0.000000e+00,-1.433463e+07,-117990.104100,-1.175712,2023-05-01 00:00:00
25%,4.858550,2.940000e+00,1.937900e+02,-3.760725e+02,0.000000,0.016121,2024-12-31 00:00:00
50%,18.280000,3.200000e+01,5.970200e+02,8.477051e+01,0.000000,0.089572,2025-02-24 00:00:00
75%,101.895000,1.878900e+02,2.058878e+03,9.337697e+03,5.790132,0.393774,2025-04-02 00:00:00
max,109004.000000,1.582244e+07,3.921431e+06,3.050948e+07,135329.090100,837.471593,2025-05-01 00:00:00
std,29448.010305,1.042744e+05,3.657557e+04,6.738170e+05,917.989791,6.758948,NaN

In [128]:
# 1. Correlation heatmap
plt.figure(figsize=(8,6))
sns.heatmap(merged_data.corr(numeric_only=True) ,  annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap (Trader Metrics)')
plt.tight_layout()
plt.savefig("outputs/correlation_heatmap.png")
plt.close()

In [129]:
# 2. Count of Trades by Sentiment
plt.figure(figsize=(6,5))
sns.countplot(data=merged_data, x='classification' , hue='classification' )
plt.xlabel("Sentiment")
plt.title('Trade Count by Market Sentiment')
plt.savefig('outputs/trade_count_by_sentiment.png')
plt.close()

In [130]:
# 3. Avg Closed PnL by Sentiment
plt.figure(figsize=(6,5))
ax = sns.barplot(data=merged_data, x='classification', y='Closed PnL',estimator='mean' , errorbar=None)
ax.bar_label(ax.containers[0] , fmt='%.2f')
plt.title('Average Closed PnL by Sentiment')
plt.ylabel('Avg Closed PnL')
plt.xlabel('Sentiment')
plt.savefig('outputs/avg_pnl_by_sentiment.png')
plt.close()

In [131]:
# Profitability -> Closed Pnl
merged_data.groupby('classification')['Closed PnL'].agg(['mean' , 'median'])

                     mean  median
classification
Fear            49.212077     0.0
Greed           53.882281     0.0
Neutral         34.307718     0.0

In [132]:
merged_data['is_Profitable'] = merged_data['Closed PnL'] > 0 
profit_counts = merged_data.groupby(['classification','is_Profitable']).size().unstack(fill_value=0)

# Convert to percentages
profit_percent = profit_counts.div(profit_counts.sum(axis=1), axis=0) * 100

profit_percent

is_Profitable       False      True
classification
Fear            59.212850  40.787150
Greed           57.968880  42.031120
Neutral         60.300907  39.699093

In [ ]:
# 4.Plot
ax = profit_percent.plot(kind='bar', stacked=True, color=['salmon', 'mediumseagreen'], figsize=(8, 5))
plt.title('Profit vs Loss % by Sentiment')
plt.ylabel('Percentage of Trades')
plt.xlabel('Market Sentiment')
plt.legend(['Loss', 'Profit'], title='Trade Outcome')

# Annotate the bars with percentages
for p in ax.patches:
    width = p.get_width()
    height = p.get_height()
    x = p.get_x()
    y = p.get_y()
    if height > 0:
        ax.text(x + width/2, y + height/2, f'{height:.1f}%', ha='center', va='center', fontsize=10, color='white')

plt.tight_layout()
plt.savefig('outputs/Profit_Loss_by_sentiment.png')
plt.close()

In [134]:
# 5.Distribution Plot of Closed PnL
sns.boxplot(merged_data , x='classification' , y='Closed PnL')
plt.savefig('outputs/Distribution_plot_of_closed_pnl.png')
plt.close()

In [135]:
# Classify position type from Start Position
def classify_position(x):
    if x < 0:
        return 'Short'
    elif x > 0:
        return 'Long'
    else:
        return 'New Entry'

merged_data['position_type'] = merged_data['Start Position'].apply(classify_position)

# Create 'leverage proxy' column: Size USD / Start Position (avoid divide-by-zero)
merged_data['leverage_proxy'] = merged_data['Size USD'] / (merged_data['Start Position'].replace(0, 1e-6).abs())

In [155]:
# 6.Position-type by Sentiment
plt.figure(figsize=(7, 7))
ax = sns.countplot(data=merged_data, x='position_type', hue='classification')
plt.title("Position-type by Sentiment")
plt.xlabel('Position Type')
plt.ylabel('Count of Trades')

# Annotate bars with 'K' format
for p in ax.patches:
    height = p.get_height()
    if height > 0:
        label = f'{height/1000:.1f}K'  # Format like 1.2K
        ax.text(
            p.get_x() + p.get_width() / 2,
            height + (0.01 * height),  # Slight lift above bar
            label,
            ha='center',
            va='bottom',
            fontsize=10
        )

plt.tight_layout()
plt.savefig('outputs/PositionType_by_Sentiment.png')
plt.close()

In [162]:
# Risk :  Avg. Start Position by sentiment 
avg_start_position = merged_data.groupby('classification')['Start Position'].mean()
avg_start_position

classification
Fear        5873.495193
Greed     -75525.817386
Neutral      144.002263
Name: Start Position, dtype: float64

In [163]:
# Volume : Trade Size 
merged_data.groupby('classification')['Size USD'].agg(['sum' , 'mean'])

                         sum         mean
classification
Fear            5.978091e+08  7182.011019
Greed           4.130477e+08  4574.424490
Neutral         1.802421e+08  4782.732661

In [166]:
# 7. Trade Size by sentiment 
sns.boxplot(merged_data , x='classification' , y='Size USD')
plt.title('Trade Size by Market Sentiment')
plt.savefig('outputs/trade_size_by_sentiment.png')
plt.close()

In [ ]:
# 8. Avg. Leverage Proxy by Sentiment
plt.figure(figsize=(7,5))
sns.barplot(data=merged_data, x='classification', y='leverage_proxy', estimator='mean', ci=None, palette='Set2')
plt.title('Average Leverage Proxy by Sentiment')
plt.ylabel('Avg Leverage (USD / Start Position)')
plt.savefig("outputs/avg_leverage_by_sentiment.png")
# plt.show()
plt.close()

C:\Users\gargy\AppData\Local\Temp\ipykernel_22784\4107507203.py:3: FutureWarning:

The `ci` parameter is deprecated. Use `errorbar=None` for the same effect.

  sns.barplot(data=merged_data, x='classification', y='leverage_proxy', estimator='mean', ci=None, palette='Set2')
C:\Users\gargy\AppData\Local\Temp\ipykernel_22784\4107507203.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(data=merged_data, x='classification', y='leverage_proxy', estimator='mean', ci=None, palette='Set2')

In [ ]:
# 9. Daily Trade Count
daily_trades = merged_data.groupby('date').size().reset_index(name='trade_count')

plt.figure(figsize=(10, 4))
sns.lineplot(data=daily_trades, x='date', y='trade_count', color='steelblue')
plt.title('Daily Trade Count Over Time')
plt.ylabel('Number of Trades')
plt.xlabel('Date')
plt.tight_layout()
plt.savefig("outputs/daily_trade_count.png")
plt.close()

In [177]:
# 10. Daily Avg. PnL
daily_pnl = merged_data.groupby('date')['Closed PnL'].mean().reset_index()

plt.figure(figsize=(10, 4))
sns.lineplot(data=daily_pnl, x='date', y='Closed PnL', color='green')
plt.title('Daily Average PnL Over Time')
plt.ylabel('Average Closed PnL')
plt.xlabel('Date')
plt.tight_layout()
plt.savefig("outputs/daily_avg_pnl.png")
plt.close()

In [183]:
# 11.Daily Sentiment Frequency
daily_sentiment = merged_data.groupby(['date', 'classification']).size().unstack(fill_value=0)
daily_sentiment.plot(kind='line', figsize=(10, 4))
plt.title('Daily Sentiment Frequency')
plt.ylabel('Count')
plt.xlabel('Date')
plt.tight_layout()
plt.savefig("outputs/daily_sentiment_trend.png")
plt.close()